<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuarios</title>
</head>

  <mat-toolbar>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Tela Inicial</button>
        <button mat-menu-item>Usuários</button>
      </mat-menu>

      <span> Tela Inicial</span>
  </mat-toolbar>
  </html>